.pagination {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

ul {
  list-style: none;
  padding: 0;
}

ul.pagination li {
  display: inline-block;
  width: 40px;
  height: 40px;
  border: 1px solid #e2e2e2;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
}

ul.pagination li:first-child {
  border-radius: 5px 0 0 5px;
}

ul.pagination li:last-child {
  border-radius: 0 5px 5px 0;
}

ul.pagination li a {
  text-decoration: none;
  color: #337ab7;
  font-size: 1rem;
}

ul.pagination li.active a {
  color: white;
}

ul.pagination li.active {
  background-color: #337ab7;
}

ul.pagination li a:hover,
ul.pagination li a.active {
  color: blue;
}

.page-selection {
  width: 48px;
  height: 30px;
  color: #337ab7;
}

.bbspage {
  position: fixed;
  width: 90%;
  height: 90%;
  /*  height: calc(100vh - 10px); */
}
.bbsnav {
  padding: 10px;
  height: 45px;
}
.bbsnav a {
  text-decoration: none;
  font-weight: bold;
  color: #938e8e;
  padding: 10px;
  /*   border-radius: 5px; */
}

.bbsnav a.active {
  background-color: #f9f9f9;
  border: 3px solid #a9a2a2;
  color: #312f2f;
}

.bbscontent {
  padding-top: 15px;
  /*  background-color: rgb(238, 241, 243); */
  display: flex;
  /*  padding-top: 50px; */
  width: 99%;
  height: 99%;
  background-color: #f9f9f9;
}
.bbspageLeft {
  width: 50%;
  height: 100%;
  padding: 30px;
  overflow-y: scroll;
}
.bbspageLeft table {
  width: 100%;
}
.bbspageRight {
  width: 50%;
  height: 100%;
  padding: 30px;
  overflow-y: scroll;
}

textarea {
  resize: none;
}
.spampage {
  /*  background-color: aquamarine; */
  display: flex;
  width: 100vw;
}
.spampageLeft {
  /*  background-color: bisque; */
  width: 20%;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.spamwordtable {
  width: 100%;
  height: 80%;
  overflow-y: scroll;
  position: relative;
}
.spamwordtable table {
  width: 100%;
}
.inputspamword {
  /*   background-color: aqua; */
  height: 20%;
  justify-content: center;
  align-items: center;
}
.inputspamword table {
  width: 100%;
  height: 100%;
}
.spampageMidle {
  /*   background-color: #337ab7; */
  width: 40%;
  overflow-y: scroll;
}
.spampageMidle table {
  width: 90%;
}
.spampageRight {
  /* 
  background-color: #a8ad84; */
  width: 40%;
  overflow-y: scroll;
}
.spampageRight table {
  width: 90%;
}
