p {
  margin-top: 16px; /* 초기값으로 설정 */
}

.qnapage {
  position: fixed;
  width: 90%;
  height: 90%;
  /*  height: calc(100vh - 10px); */
}
.qnanav {
  height: 50px;
  /*  position: fixed; */
  width: 100%;
}
.qnacontent {
  /*  background-color: rgb(238, 241, 243); */
  display: flex;
  /*  padding-top: 50px; */
  width: 95%;
  height: 95%;
}
.qnapageLeft {
  width: 45%;
  height: 100%;
  padding: 30px;
  overflow-y: scroll;
}
.qnapageRight {
  width: 55%;
  height: 100%;
  padding: 30px;
}

textarea {
  resize: none;
}
