p {
  margin-top: 16px; /* 초기값으로 설정 */
}
.qnapage {
  position: fixed;
  width: 100vw;
  margin: 0;
  height: 100vh;
}
.qnanav {
  background-color: rgb(208, 207, 213);
  height: 50px;
  position: fixed;
  width: 100vw;
}
.qnacontent {
  display: flex;
  padding-top: 50px;
}
.qnapageLeft {
  width: 45%;
  height: 100vh;
  padding: 30px;
  background-color: rgb(237, 243, 241);
}
.qnapageRight {
  width: 55%;
  height: 100vh;
  padding: 30px;
  background-color: rgb(255, 251, 248);
}

.tabs {
  width: 40%;
  background-color: rgb(255, 255, 255);
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  padding: 0;
  margin-bottom: 0;
}

.tabs li {
  cursor: pointer;

  width: calc(100% / 6);
}

.tabs li.is-active {
  background-color: rgb(218, 234, 228);

  height: 100%;
}

.tabs li:hover {
  background-color: #acc0bf;
  height: 100%;
}

.tabs li:focus {
  outline: none;
}

.tabs li:not(.is-active) {
  opacity: 0.5;
}

.tabs li:last-child {
  margin-right: 0;
}

.tab-content {
  margin-top: 1rem;
}
textarea {
  resize: none;
}
