p {
  margin-top: 16px; /* 초기값으로 설정 */
}
.qnapage {
  position: fixed;
  width: 100vw;
  margin: 0;
  display: flex;
  height: 100vh;
}

.qnapageLeft {
  width: 100%;
  height: 100vh;
  padding-top: 10px;
  padding-left: 10px;
  background-color: rgb(218, 234, 228);
}
/* .qnapageRight {
  width: 55%;
  height: 100vh;
  background-color: bisque;
} */

.tabs {
  width: 70%;
  background-color: rgb(255, 255, 255);
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  padding: 0;
  margin-bottom: 0;
}

.tabs li {
  cursor: pointer;

  width: calc(100% / 6);
}

.tabs li.is-active {
  background-color: rgb(218, 234, 228);

  height: 100%;
}

.tabs li:hover {
  background-color: #acc0bf;
  height: 100%;
}

.tabs li:focus {
  outline: none;
}

.tabs li:not(.is-active) {
  opacity: 0.5;
}

.tabs li:last-child {
  margin-right: 0;
}

.tab-content {
  margin-top: 1rem;
}
textarea {
  resize: none;
}
