@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");

:root {
  --modal-duration: 1s;
  --primary-color: #404f49;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  margin: 0;
  transition: transform 0.3s ease;
}

body.show-nav {
  /* Width of nav */
  transform: translateX(200px);
}

/* #navbar {
  background-color: var(--primary-color);
  border-right: 2px solid rgba(200, 200, 200, 0.1);
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 200px;
  height: 100vh;
  z-index: 100;
  transform: translateX(-100%);
} */

header {
  color: #fff;
  font-size: 130%;
  position: relative;
  padding: 40px 15px;
  text-align: center;
}

header h1 {
  margin: 0;
}

header p {
  margin: 30px 0;
}

button,
input[type="submit"] {
  background-color: var(--secondary-color);
  border: 0;
  border-radius: 5px;
  /*  color: #fff; */
  cursor: pointer;
}

button:focus {
  outline: none;
}

.toggle {
  position: absolute;

  left: 20px;
}

.cta-btn {
  padding: 12px 30px;
  font-size: 20px;
}

.container {
  padding: 15px;
  margin: 0 auto;
  max-width: 100%;
  width: 800px;
}

.close-btn {
  background: transparent;
  font-size: 25px;
  position: absolute;
  top: 0;
  right: 0;
}
.menucontainerTop {
  padding-top: 5%;
  display: flex;
  flex-direction: row; /* 자식 요소들을 가로 방향으로 배치 */
  justify-content: center; /* 자식 요소들을 수평 방향으로 중앙에 정렬 */
  align-items: center;
}
.menuicon {
  margin-left: 20px;
}
.menuicon p {
  margin-top: 10px; /* 이미지와 텍스트 사이 간격을 조절 */
}
.menucontainerBottom {
  display: flex;
  justify-content: center; /* 자식 요소들을 수평 방향으로 중앙에 정렬 */
  align-items: center;
}

.background {
  position: relative;
  width: 100px;
  height: 100px;
  background-color: bisque;
  border-radius: 30%;
  display: flex; /* 부모 요소를 flex container로 설정 */
  justify-content: center; /* 자식 요소를 수평 방향으로 중앙에 정렬 */
  align-items: center; /* 자식 요소를 수직 방향으로 중앙에 정렬 */
}

.mainmenu {
  position: absolute;
  width: 80%;
  height: 80%;
  z-index: 1;
}

@keyframes modalopen {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
