.App {
  /*  text-align: center; */
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
}

.loginbox {
  /* background-color: #cc7676; */
  margin: 0 auto;
  height: 500px;
  width: 400px;
  text-align: center;
}
.basepage {
  background-color: #ffffff;
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin-left: 10%;
}

header {
  display: flex;

  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  background-color: #ffffff;
  padding: 10px;
  text-align: center;
  margin-bottom: 0;
  z-index: 1;
}
header div {
  margin-left: 70%;
}
main {
  width: 100%;
  box-sizing: border-box;
  margin-top: 60px;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar {
  background-color: #181b4d;
  width: 10%;
  height: 100%;
  position: fixed;

  border-radius: 15px;
  z-index: 999;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.25);
}
.navlist ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.navbar li {
  margin: 0 10px;
}

.navbar a {
  display: flex;
  color: rgb(79, 156, 173);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar a:hover {
  background-color: #dddddd62;
  color: black;
}
.nav-menu li a.active,
.nav-menu li a:hover {
  color: rgb(255, 255, 255); /* 호버시 적용될 스타일 */
}
.nav-img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 15%;
}

.nav-img img {
  max-width: 100%;
  max-height: 100%;
}
.nav-list {
  width: 100%;
  height: 85%;
}

table {
  border: 1px #a39485 solid;

  font-size: 0.9em;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
  width: 60%;
  border-collapse: collapse;
  border-radius: 5px;
  overflow: hidden;
  margin: auto;
}

th {
  text-align: left;
}

thead {
  font-weight: bold;
  color: #fff;
  background: #73685d;
}

td,
th {
  padding: 0.5em 0.5em;
  vertical-align: middle;
} 

td {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  background: #fff;
}

/* css 추가 230508  */
/* calendar */
.allList{
  width: 100%;
  box-shadow: none;
}

.allList td{
  background: none;
  border: none;
}
.allList a{
  font-size: 13px;
}
.numTop{
  height: 230px;
}
/* calendarwrite */
.writetable tr{
  border: 1px solid #e2e2e2;
}
.writetable th{
  width: 150px;
}
.writetable td{
  padding: 15px;
}
.writetable select{
  text-align: left;
  border: 1px solid #e2e2e2;
  border-radius: 0.375rem;
  font-size: 16px;
  padding: 7px 0;

}
.datecss{
  width: 50%;
  text-align: center;
  border: 1px solid #e2e2e2;
  border-radius: 0.375rem;
  font-size: 16px;
  padding: 5px 0;
}
.react-datepicker-popper{
  margin-left: 300px;
}
.contentcss{
  height: 400px;
}
.ReactModal__Overlay--after-open{
  width: 1300px;
  border: 3px solid #e2e2e2;
  /* margin:0 auto; */
  margin-left: 17%;
  height: 600px;
  background-color: #fff !important;
  inset : 100px !important;
  /* top:300px; */
}
.ReactModal__Overlay--after-open button{
  margin-top: 500px;
  font-size: 20px;
}
/* .ReactModal__Overlay{
  position: relative !important;
  top: 0;
} */
.modalcss table{
  width: 1200px;
  position: absolute;
  margin: 0 auto;
  top: 65px;
  left: 50px;
  height: 400px;
}
.modalcss img{
  width: 400px;
}
.modalcss tr{
  border: 1px solid #e2e2e2;
}
/* 230515 */
.writetable{
  margin-bottom: 20px;
}
.writetable th{
  background-color: #181b4d;
  color: #fff;
  text-align: center;
}
.detailTable th{
  background-color: #181b4d;
  color: #fff;
  text-align: center;
}
.detailTable th{
  border: 1px solid #e2e2e2;
  padding: 30px 0;
}
.adminBtn{
  background-color: #fef587;
  color: #181b4d;
  font-weight: bold;
  padding: 10px 20px;
  border: 3px solid #181b4d;
}
.listTable tr:nth-child(1){
  background-color: #181b4d;
  color: #fff;
}
.listTable th{
  text-align: center;
  padding: 15px 0;
}
.listTable td{
  /* text-align: center; */
  padding: 15px 0;
  font-weight: 600;
}
#my-table th{
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
}
#my-table tr:nth-child(1){
  background-color: #181b4d;
  color: #fff;
}